<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SVIT_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>vol_reg</display-name>
    <servlet-name>vol_reg</servlet-name>
    <servlet-class>com.controller.vol_reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vol_reg</servlet-name>
    <url-pattern>/vol_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>School_reg</display-name>
    <servlet-name>School_reg</servlet-name>
    <servlet-class>com.controller.School_reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>School_reg</servlet-name>
    <url-pattern>/School_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Donation</display-name>
    <servlet-name>Donation</servlet-name>
    <servlet-class>com.controller.Donation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Donation</servlet-name>
    <url-pattern>/Donation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherVolEvent</display-name>
    <servlet-name>OtherVolEvent</servlet-name>
    <servlet-class>com.controller.OtherVolEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherVolEvent</servlet-name>
    <url-pattern>/OtherVolEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CampEvent</display-name>
    <servlet-name>CampEvent</servlet-name>
    <servlet-class>com.controller.CampEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CampEvent</servlet-name>
    <url-pattern>/CampEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherEvent</display-name>
    <servlet-name>TeacherEvent</servlet-name>
    <servlet-class>com.controller.TeacherEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherEvent</servlet-name>
    <url-pattern>/TeacherEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login_validate</display-name>
    <servlet-name>login_validate</servlet-name>
    <servlet-class>com.controller.login_validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_validate</servlet-name>
    <url-pattern>/login_validate</url-pattern>
  </servlet-mapping>
</web-app>